.tabs .tabs-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .tabs .tabs-nav ul li {
    display: block;
    background: #f1f6f9;
    padding: 15px 20px;
    color: black; }
    .tabs .tabs-nav ul li + li {
      margin-top: 5px; }
    .tabs .tabs-nav ul li.tabs-nav-item--active {
      background: #6270ff;
      color: white; }

.tabs .tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs .tabs-content.tabs-content--inactive {
    display: none; }
