.margin {
  &--all-0 {
    margin: 0px;
  }
  &--top-10 {
    margin-top: 10px;
  }
  &--top-50 {
    margin-top: 50px;
  }
  &--top-20 {
    margin-top: 20px;
  }
  &--top-30 {
    margin-top: 30px;
  }
  &--top-100 {
    margin-top: 100px;
  }
  &--bottom-50 {
    margin-bottom: 50px;
  }
  &--bottom-20 {
    margin-bottom: 20px;
  }
  &--bottom-100 {
    margin-bottom: 100px;
  }
  &--left-15 {
    margin-left: 15px;
  }
  &--left-30 {
    margin-left: 30px;
  }
  &--left-25 {
    margin-left: 25px;
  }
  &--left-50 {
    margin-left: 50px;
  }
}

.padding {
  &--all-25 {
    padding: 25px;
  }
  &--left-25 {
    padding-left: 25px;
  }
  &--right-25 {
    padding-right: 25px;
  }
  &--top-10 {
    padding-top: 10px;
  }
  &--top-20 {
    padding-top: 20px;
  }
  &--top-50 {
    padding-top: 50px;
  }
  &--top-100 {
    padding-top: 100px;
  }
  &--bottom-20 {
    padding-bottom: 20px;
  } 
&--bottom-10 {
    padding-bottom: 10px;
  }
  &--bottom-50 {
    padding-bottom: 50px;
  }
  &--bottom-100 {
    padding-bottom: 100px;
  }
}

.size-info {
  ul {
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    padding: 0;
  }
  li + li {
    margin-left: 20px;
  }
}

header {
  display: flex;
  justify-content: space-between;

  .logo {
    text-align: left;

    img {
      margin-top: 40px;
    }
  }
  .menu {
    position: relative;
    .menu-hamburger {
      content: "";
      border-radius: 20px;
      height: 4px;
      width: 40px;
      top: 40px;
      right: 0px;
      background: $white;
      position: absolute;

      &::after {
        content: "";
        border-radius: 20px;
        height: 4px;
        width: 20px;
        top: 10px;
        right: 0px;
        background: $white;
        position: absolute;
      }
    }
  }
}

.border{
    &--top{
        border-top:1px solid #cbcbcb;
    }
    &--bottom{
        border-bottom:1px solid #cbcbcb;
    }
}

.price_info{
    display: flex;
    flex-direction: column;
}