.more_info{
    display: flex;
    flex-direction: row;
}

.round {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background:$white;
    position: absolute;

  &.round--big {
    height: 20px;
    width: 20px;

    &.active,
    &:hover{
        border:3px solid $white;
        -webkit-box-shadow: 0px 0px 16px 1px rgba(48,200,202,1);
        -moz-box-shadow: 0px 0px 16px 1px rgba(48,200,202,1);
        box-shadow: 0px 0px 16px 1px rgba(48,200,202,1);
        

    }
  }

  &.round-color {
    &--blue {
      background: $blue;
    }

    &--white {
      background: $white;
    }

    &--pink {
      background: $pink;
    }

    &--gray {
      background: $gray;
    }
  }

  &--opacity {
    &-05 {
      opacity: 0.5;
    }
  }
}

