.button-border {
  button {
    @include font_texte(12px, 700, white);
    text-transform: uppercase;
    padding: 20px;
    border: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    img {
      width: 5%;
      margin-left: 10px;
      margin-top: 0px;
    }
  } // fin button

  &.soft-rounded {
    button {
      border-radius: 20px;
    }
  } // fin soft roundeda

  &.rounded {
    button {
      border-radius: 50px;
    }
  } // fin soft rounded

  &.shadow button {
    -moz-box-shadow: 0px 17px 15px 2px rgba(222, 222, 222, 1);
    -webkit-box-shadow: 0px 17px 15px 2px rgba(222, 222, 222, 1);
    box-shadow: 0px 17px 15px 2px rgba(222, 222, 222, 1);
  }

  &.colored-border {
    button {
      border: 3px solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #79ccff, #9b74ff);
      @include font_texte(12px, 700, #252525);
    }
  }
}

@include respond-to(max-width, $md) {
  .button-border {
    button {
      width: 100%;
    }
  }
}
