// -------------------------------------------------------
// Colos scheme
// -------------------------------------------------------

$primary : #B4D455; 
$secondary: #FA5732;

$primary:#FF23CF; // c'est la dernière variable qui est pris en charge si même nom


// -------------------------------------------------------
// MISC .. 
// -------------------------------------------------------
