.image {
  max-width: 100%;
  display: flex;
  position: absolute;

  &--bottom {
    align-self: flex-end;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
  }
}

figure {
  margin: 0;
  background: #cccccc;

  &.violet {
    background: #6270ff;
  }

  img {
    display: block;
    width: 100%;
  }

  &.image2 {
    height: 200px;
    @include respond-to(max-width, ($sm - 1)) {
      width: 100%;
    }
    margin-top: 45px;
  }

  &.figure-demo {
    height: 200px;

    @include respond-to(max-width, ($sm - 1)) {
      width: 100%;
    }
  }

  &.figure-demo-big {
    @include respond-to(max-width, ($sm - 1)) {
      width: 100%;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    @include respond-to(max-width, $sm) {
      display: none;
    }
  }
}
