/* ========= couleur des textes ========= */
/* ========= Breakpoints ========= */
/* ========= grid ========= */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 0;
  margin-left: 50px; }

.icon-menu {
  display: none; }

nav {
  margin: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: capitalize; }
  nav a {
    padding: 36px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2e2e2e;
    position: relative; }
  nav a:hover::after,
  nav a.active::after {
    content: "";
    height: 5px;
    width: 100%;
    bottom: 0px;
    left: 0;
    margin: 0;
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(left, #6372ff 0%, #79cbff 100%); }

.num_telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0;
  border: 0;
  float: right; }
  .num_telephone a {
    padding: 32px;
    background: #6270ff;
    color: white; }
    .num_telephone a span {
      font-size: 25px; }
  .num_telephone p {
    background: #ecedf5;
    padding: 30px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2e2e; }

@media (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    header .logo {
      margin: 0 auto;
      padding: 60px; }
    header .icon-menu {
      color: black;
      font-size: 50px;
      position: relative;
      display: block;
      float: right;
      width: 50px;
      height: 66px;
      cursor: pointer; }
    header .icon-menu::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
      box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }
    header .menu {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: #444dad;
      width: 450px;
      -webkit-transform: translateX(450px);
      -ms-transform: translateX(450px);
      transform: translateX(450px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      font-size: 0.5em;
      padding: 0;
      margin: 0; }
    header .menu a,
    header .menu a .active {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #2e2e2e;
      color: white; }
    header .num_telephone,
    header .menu a .active::after {
      display: none; } }

@media (max-width: 900px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .icon-menu,
  .num_telephone {
    display: none; } }

.image {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute; }
  .image--bottom {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 0;
    right: 0; }

figure {
  margin: 0;
  background: #cccccc; }
  figure.violet {
    background: #6270ff; }
  figure img {
    display: block;
    width: 100%; }
  figure.image2 {
    height: 200px;
    margin-top: 45px; }
    @media (max-width: 599px) {
      figure.image2 {
        width: 100%; } }
  figure.figure-demo {
    height: 200px; }
    @media (max-width: 599px) {
      figure.figure-demo {
        width: 100%; } }
  @media (max-width: 599px) {
    figure.figure-demo-big {
      width: 100%; } }
  figure.figure-demo-big:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  @media (max-width: 600px) {
    figure.figure-demo-big {
      display: none; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #03062f;
  margin: 0;
  padding: 20px 0;
  margin-top: 100px; }
  footer .container {
    margin: 0 auto; }
    footer .container .footer {
      margin: 0 auto;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      footer .container .footer .logo_and_text {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        footer .container .footer .logo_and_text .mini_logo {
          display: inline-block; }
          footer .container .footer .logo_and_text .mini_logo figure {
            display: inline-block;
            margin: 0;
            -webkit-transform: translateY(22%);
            -ms-transform: translateY(22%);
            transform: translateY(22%); }
        footer .container .footer .logo_and_text p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          color: #6270ff;
          display: inline-block;
          margin: 0 0 0 20px;
          line-height: 3em; }
      footer .container .footer .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0;
        float: right;
        line-height: 3em; }
        footer .container .footer .icons a + a {
          margin-left: 30px; }
        footer .container .footer .icons [class*="icon-"] {
          color: #6270ff; }

.dropcaps {
  font-size: 60px;
  width: 80px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 10px 10px 0; }

.line-colored::before {
  content: "";
  height: 120%;
  width: 5px;
  bottom: -5px;
  left: 0;
  margin: 0;
  display: block;
  position: absolute;
  background: -webkit-linear-gradient(top, #9b75ff 0%, #79cbff 100%); }

.line-colored--horrizontal::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 50%;
  left: auto; }

.line-colored--slim::before {
  height: 200%;
  width: 3px; }

.quotes::before, .quotes::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 25px;
  top: -30px;
  background: -webkit-linear-gradient(top, #9b74ff 0%, #79cbff 100%);
  opacity: 0.5;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  z-index: -1; }

.quotes::after {
  content: "";
  left: 40px; }

.dropcaps--rond {
  border-radius: 100%; }

.dropcaps--italic {
  display: block;
  font-style: italic;
  background: white;
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .dropcaps--italic::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, #9583ff, #7ec0ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#9583ff), to(#7ec0ff));
    background: -webkit-linear-gradient(top, #9583ff, #7ec0ff);
    background: -o-linear-gradient(top, #9583ff, #7ec0ff);
    background: linear-gradient(to bottom, #9583ff, #7ec0ff);
    content: "";
    display: block;
    mix-blend-mode: screen; }

.titre-header {
  font-family: "Roboto", sans-serif;
  background: #444dad;
  text-align: center;
  padding: 60px 0px; }
  .titre-header h1 {
    color: #ffffff;
    font-size: 72px;
    margin: 0px;
    font-weight: 700; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: #2e2e2e; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #2e2e2e; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2e2e2e; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2e; }

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #2e2e2e; }

article {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #838383;
  text-align: justify;
  margin-top: 20px;
  width: 100%;
  position: relative; }

.article-white {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff; }

.article-black {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000; }

.title-article-white {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff; }

.title-article-black {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2e2e2e;
  text-decoration: none; }

.sous-sous-titre {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 20px; }

.sous-titre {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #2e2e2e;
  text-align: center;
  margin: 50px 0; }

.article-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #2e2e2e; }

.font-size--60 {
  font-size: 60px; }

.font-color--white {
  color: white; }

p {
  margin: 0; }
  p.regular-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #2e2e2e; }
  p.regular-48 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #2e2e2e; }
  p.regular-36 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #2e2e2e; }
  p.regular--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #2e2e2e; }
  p.regular--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #2e2e2e; }
  p.regular--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #2e2e2e; }
  p.bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }
  p.bold--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }
  p.bold--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }
  p.bold--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }
  p.bold--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }
  p.bold--bold-34 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #2e2e2e; }

.container {
  width: calc(100% - 30px);
  max-width: 1150px;
  margin: 50px auto; }
  .container.container--fluid {
    max-width: none; }

.overflow_hidden {
  overflow-x: hidden; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }
  .row.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row.align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.col-xs-1 {
  width: calc(8.33333% - 30px);
  margin: 0 15px; }

.col-xs-2 {
  width: calc(16.66667% - 30px);
  margin: 0 15px; }

.col-xs-3 {
  width: calc(25% - 30px);
  margin: 0 15px; }

.col-xs-4 {
  width: calc(33.33333% - 30px);
  margin: 0 15px; }

.col-xs-5 {
  width: calc(41.66667% - 30px);
  margin: 0 15px; }

.col-xs-6 {
  width: calc(50% - 30px);
  margin: 0 15px; }

.col-xs-7 {
  width: calc(58.33333% - 30px);
  margin: 0 15px; }

.col-xs-8 {
  width: calc(66.66667% - 30px);
  margin: 0 15px; }

.col-xs-9 {
  width: calc(75% - 30px);
  margin: 0 15px; }

.col-xs-10 {
  width: calc(83.33333% - 30px);
  margin: 0 15px; }

.col-xs-11 {
  width: calc(91.66667% - 30px);
  margin: 0 15px; }

.col-xs-12 {
  width: calc(100% - 30px);
  margin: 0 15px; }

@media (min-width: 600px) {
  .col-sm-1 {
    width: calc(8.33333% - 30px);
    margin: 0 15px; }
  .col-sm-2 {
    width: calc(16.66667% - 30px);
    margin: 0 15px; }
  .col-sm-3 {
    width: calc(25% - 30px);
    margin: 0 15px; }
  .col-sm-4 {
    width: calc(33.33333% - 30px);
    margin: 0 15px; }
  .col-sm-5 {
    width: calc(41.66667% - 30px);
    margin: 0 15px; }
  .col-sm-6 {
    width: calc(50% - 30px);
    margin: 0 15px; }
  .col-sm-7 {
    width: calc(58.33333% - 30px);
    margin: 0 15px; }
  .col-sm-8 {
    width: calc(66.66667% - 30px);
    margin: 0 15px; }
  .col-sm-9 {
    width: calc(75% - 30px);
    margin: 0 15px; }
  .col-sm-10 {
    width: calc(83.33333% - 30px);
    margin: 0 15px; }
  .col-sm-11 {
    width: calc(91.66667% - 30px);
    margin: 0 15px; }
  .col-sm-12 {
    width: calc(100% - 30px);
    margin: 0 15px; } }

@media (min-width: 900px) {
  .col-md-1 {
    width: calc(8.33333% - 30px);
    margin: 0 15px; }
  .col-md-2 {
    width: calc(16.66667% - 30px);
    margin: 0 15px; }
  .col-md-3 {
    width: calc(25% - 30px);
    margin: 0 15px; }
  .col-md-4 {
    width: calc(33.33333% - 30px);
    margin: 0 15px; }
  .col-md-5 {
    width: calc(41.66667% - 30px);
    margin: 0 15px; }
  .col-md-6 {
    width: calc(50% - 30px);
    margin: 0 15px; }
  .col-md-7 {
    width: calc(58.33333% - 30px);
    margin: 0 15px; }
  .col-md-8 {
    width: calc(66.66667% - 30px);
    margin: 0 15px; }
  .col-md-9 {
    width: calc(75% - 30px);
    margin: 0 15px; }
  .col-md-10 {
    width: calc(83.33333% - 30px);
    margin: 0 15px; }
  .col-md-11 {
    width: calc(91.66667% - 30px);
    margin: 0 15px; }
  .col-md-12 {
    width: calc(100% - 30px);
    margin: 0 15px; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc(8.33333% - 30px);
    margin: 0 15px; }
  .col-lg-2 {
    width: calc(16.66667% - 30px);
    margin: 0 15px; }
  .col-lg-3 {
    width: calc(25% - 30px);
    margin: 0 15px; }
  .col-lg-4 {
    width: calc(33.33333% - 30px);
    margin: 0 15px; }
  .col-lg-5 {
    width: calc(41.66667% - 30px);
    margin: 0 15px; }
  .col-lg-6 {
    width: calc(50% - 30px);
    margin: 0 15px; }
  .col-lg-7 {
    width: calc(58.33333% - 30px);
    margin: 0 15px; }
  .col-lg-8 {
    width: calc(66.66667% - 30px);
    margin: 0 15px; }
  .col-lg-9 {
    width: calc(75% - 30px);
    margin: 0 15px; }
  .col-lg-10 {
    width: calc(83.33333% - 30px);
    margin: 0 15px; }
  .col-lg-11 {
    width: calc(91.66667% - 30px);
    margin: 0 15px; }
  .col-lg-12 {
    width: calc(100% - 30px);
    margin: 0 15px; } }

[class*="col-"].align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

[class*="col-"].align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

[class*="col-"].align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.gradient--blue-purple,
.background--blue-purple,
.color--blue-purple,
.tabs-background--blue-purple {
  background: -moz-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: -webkit-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: -o-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: linear-gradient(45deg, #79ccff 0%, #9b74ff 100%); }

.gradient--turquoise-purple,
.background--turquoise-purple,
.color--turquoise-purple,
.tabs-background--turquoise-purple {
  background: -moz-linear-gradient(45deg, #1affec 0%, #9f4ff9 100%);
  background: -webkit-linear-gradient(45deg, #1affec 0%, #9f4ff9 100%);
  background: -o-linear-gradient(45deg, #1affec 0%, #9f4ff9 100%);
  background: linear-gradient(45deg, #1affec 0%, #9f4ff9 100%); }

.gradient--red-magenta,
.background--red-magenta,
.color--red-magenta,
.tabs-background--red-magenta {
  background: -moz-linear-gradient(45deg, #ff4646 0%, #ff26d9 100%);
  background: -webkit-linear-gradient(45deg, #ff4646 0%, #ff26d9 100%);
  background: -o-linear-gradient(45deg, #ff4646 0%, #ff26d9 100%);
  background: linear-gradient(45deg, #ff4646 0%, #ff26d9 100%); }

.gradient--green-blue,
.background--green-blue,
.color--green-blue,
.tabs-background--green-blue {
  background: -moz-linear-gradient(45deg, #79ff8f 0%, #7b74ff 100%);
  background: -webkit-linear-gradient(45deg, #79ff8f 0%, #7b74ff 100%);
  background: -o-linear-gradient(45deg, #79ff8f 0%, #7b74ff 100%);
  background: linear-gradient(45deg, #79ff8f 0%, #7b74ff 100%); }

.gradient--orange-red,
.background--orange-red,
.color--orange-red,
.tabs-background--orange-red {
  background: -moz-linear-gradient(45deg, #ffce3a 0%, #ff0e69 100%);
  background: -webkit-linear-gradient(45deg, #ffce3a 0%, #ff0e69 100%);
  background: -o-linear-gradient(45deg, #ffce3a 0%, #ff0e69 100%);
  background: linear-gradient(45deg, #ffce3a 0%, #ff0e69 100%); }

.gradient--orange-purple,
.background--orange-purple,
.color--orange-purple,
.tabs-background--orange-purple {
  background: -moz-linear-gradient(45deg, #ffce79 0%, #9b74ff 100%);
  background: -webkit-linear-gradient(45deg, #ffce79 0%, #9b74ff 100%);
  background: -o-linear-gradient(45deg, #ffce79 0%, #9b74ff 100%);
  background: linear-gradient(45deg, #ffce79 0%, #9b74ff 100%); }

.gradient--peche-purple,
.background--peche-purple,
.color--peche-purple,
.tabs-background--peche-purple {
  background: -moz-linear-gradient(45deg, #de9285 0%, #6866ff 100%);
  background: -webkit-linear-gradient(45deg, #de9285 0%, #6866ff 100%);
  background: -o-linear-gradient(45deg, #de9285 0%, #6866ff 100%);
  background: linear-gradient(45deg, #de9285 0%, #6866ff 100%); }

.gradient--green-orange,
.background--green-orange,
.color--green-orange,
.tabs-background--green-orange {
  background: -moz-linear-gradient(45deg, #79ff7c 0%, #ffbd4a 100%);
  background: -webkit-linear-gradient(45deg, #79ff7c 0%, #ffbd4a 100%);
  background: -o-linear-gradient(45deg, #79ff7c 0%, #ffbd4a 100%);
  background: linear-gradient(45deg, #79ff7c 0%, #ffbd4a 100%); }

.gradient--turquoise-rose,
.background--turquoise-rose,
.color--turquoise-rose,
.tabs-background--turquoise-rose {
  background: -moz-linear-gradient(45deg, #00fff0 0%, #d322ff 100%);
  background: -webkit-linear-gradient(45deg, #00fff0 0%, #d322ff 100%);
  background: -o-linear-gradient(45deg, #00fff0 0%, #d322ff 100%);
  background: linear-gradient(45deg, #00fff0 0%, #d322ff 100%); }

.gradient--red-orange,
.background--red-orange,
.color--red-orange,
.tabs-background--red-orange {
  background: -moz-linear-gradient(45deg, #ff2d72 0%, #ffab79 100%);
  background: -webkit-linear-gradient(45deg, #ff2d72 0%, #ffab79 100%);
  background: -o-linear-gradient(45deg, #ff2d72 0%, #ffab79 100%);
  background: linear-gradient(45deg, #ff2d72 0%, #ffab79 100%); }

.gradient--rose-purple,
.background--rose-purple,
.color--rose-purple,
.tabs-background--rose-purple {
  background: -moz-linear-gradient(45deg, #ff18ab 0%, #6e03ff 100%);
  background: -webkit-linear-gradient(45deg, #ff18ab 0%, #6e03ff 100%);
  background: -o-linear-gradient(45deg, #ff18ab 0%, #6e03ff 100%);
  background: linear-gradient(45deg, #ff18ab 0%, #6e03ff 100%); }

.gradient--turquoise-blue,
.background--turquoise-blue,
.color--turquoise-blue,
.tabs-background--turquoise-blue {
  background: -moz-linear-gradient(45deg, #00ffd8 0%, #007eff 100%);
  background: -webkit-linear-gradient(45deg, #00ffd8 0%, #007eff 100%);
  background: -o-linear-gradient(45deg, #00ffd8 0%, #007eff 100%);
  background: linear-gradient(45deg, #00ffd8 0%, #007eff 100%); }

.gradient--bluelight-bluedark,
.background--bluelight-bluedark,
.color--bluelight-bluedark,
.tabs-background--bluelight-bluedark {
  background: -moz-linear-gradient(45deg, #79ccff 0%, #6270ff 100%);
  background: -webkit-linear-gradient(45deg, #79ccff 0%, #6270ff 100%);
  background: -o-linear-gradient(45deg, #79ccff 0%, #6270ff 100%);
  background: linear-gradient(45deg, #79ccff 0%, #6270ff 100%); }

.gradient-demo,
.background-demo,
.color-demo,
.tabs-background-demo {
  min-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 900px) {
    .gradient-demo,
    .background-demo,
    .color-demo,
    .tabs-background-demo {
      min-height: 400px; } }

.color--purple {
  color: #818cff; }

.color--black {
  color: #2e2e2e; }

.color--white {
  color: #ffffff; }

.color--gray {
  color: #838383; }

.background--purple,
.tabs-background--purple {
  background: #818cff; }

.background--black,
.tabs-background--black {
  background: #2e2e2e; }

.background--white,
.tabs-background--white {
  background: #ffffff; }

.background--gray,
.tabs-background--gray {
  background: #838383; }

.background--gray-light,
.tabs-background--gray-light {
  background: #f1f6f9; }

.background--gray-blue,
.tabs-background--gray-blue {
  background: #ecedf7; }

.background--blue-flashi,
.tabs-background--blue-flashi {
  background: #6270ff; }

.background--pink-flashi,
.tabs-background--pink-flashi {
  background: #ff427c; }

.background--purple-flashi,
.tabs-background--purple-flashi {
  background: #ba4eff; }

.background--yellow-flashi,
.tabs-background--yellow-flashi {
  background: #ffcc44; }

.border {
  border: 2px solid; }
  .border.colored--blue-flashi {
    border-color: #6270ff; }
  .border.colored--pink-flashi {
    border-color: #ff427c; }
  .border.colored--purple-flashi {
    border-color: #ba4eff; }
  .border.colored--yellow-flashi {
    border-color: #ffcc44; }

.text-gradient--blue-purple {
  background: -moz-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: -webkit-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: -o-linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  background: linear-gradient(45deg, #79ccff 0%, #9b74ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.tabs {
  position: relative; }
  .tabs .tabs-nav ul {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #252525;
    padding: 0;
    margin: 0;
    list-style: none; }
  .tabs .tabs-nav--light ul {
    padding: 0;
    margin: 0; }
  .tabs .tabs-nav--light li {
    display: block;
    background: #f1f6f9;
    padding: 15px 20px;
    color: black; }
    .tabs .tabs-nav--light li + li {
      margin-top: 5px; }
    .tabs .tabs-nav--light li.tabs-nav-item--active, .tabs .tabs-nav--light li:hover {
      background: #6270ff;
      position: relative;
      color: white; }
      .tabs .tabs-nav--light li.tabs-nav-item--active::before, .tabs .tabs-nav--light li:hover::before {
        content: "";
        height: 100%;
        width: 10px;
        background: -webkit-linear-gradient(top, #6478ff 0%, #77c5ff 100%);
        position: absolute;
        left: 0;
        top: 0; }
      .tabs .tabs-nav--light li.tabs-nav-item--active li, .tabs .tabs-nav--light li:hover li {
        border: 0px; }
  .tabs .tabs-nav--purple ul {
    padding: 0;
    margin: 0; }
  .tabs .tabs-nav--purple li {
    display: block;
    z-index: 20;
    background: #6270ff;
    padding: 15px 20px;
    color: white;
    top: 3px;
    position: relative; }
    .tabs .tabs-nav--purple li + li {
      margin-top: 5px; }
    .tabs .tabs-nav--purple li.tabs-nav-item--active-gray, .tabs .tabs-nav--purple li:hover {
      background: #f1f6f9;
      z-index: 20;
      top: 3px;
      position: relative;
      color: #252525; }
      .tabs .tabs-nav--purple li.tabs-nav-item--active-gray li, .tabs .tabs-nav--purple li:hover li {
        border: 0px; }
    .tabs .tabs-nav--purple li.tabs-nav-item--active-white, .tabs .tabs-nav--purple li:hover {
      border: 3px solid #f1f6f9;
      border-bottom: white;
      top: 3px;
      z-index: 20;
      position: relative;
      color: #252525;
      background: white; }
      .tabs .tabs-nav--purple li.tabs-nav-item--active-white li, .tabs .tabs-nav--purple li:hover li {
        border: 0px; }
  .tabs .tabs-nav--dark ul {
    padding: 0; }
  .tabs .tabs-nav--dark li {
    background: black;
    padding: 40px 100px;
    color: white; }
    .tabs .tabs-nav--dark li.tabs-nav-item--active, .tabs .tabs-nav--dark li:hover {
      background: #6270ff;
      position: relative;
      color: white; }
      .tabs .tabs-nav--dark li.tabs-nav-item--active li, .tabs .tabs-nav--dark li:hover li {
        border: 0px; }
  .tabs .tabs-nav--horizontal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .tabs .tabs-nav--horizontal li {
    display: inline-block;
    padding: 15px 35px; }
    .tabs .tabs-nav--horizontal li + li {
      margin-top: 0px; }
  .tabs .tabs-nav--horizontal.big-block li {
    padding: 55px 112.05px; }
  .tabs .tabs-nav--horizontal.big-block.row:last-child {
    margin-right: 0; }
  .tabs .tabs-nav--horizontal.mi-block li {
    padding: 55px 45px; }
  .tabs .tabs-nav--background-white li {
    background: white; }

.tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs-content.article-inactive {
    display: none; }

.tabs-background {
  content: "";
  height: 100%;
  padding: 30px 30px;
  position: relative; }
  .tabs-background--gray-light {
    background: #f1f6f9; }
  .tabs-background--border-gray-light {
    border: 3px solid #f1f6f9; }

.tabs-border ul {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #252525;
  list-style: none; }
  .tabs-border ul li {
    padding: 20px 20px 20px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    .tabs-border ul li + li {
      margin-top: 5px; }

.tabs-border.border-colored li {
  border: 3px solid #f1f6f9; }
  .tabs-border.border-colored li::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f1f6f9;
    position: absolute;
    top: 26px;
    left: 30px; }
  .tabs-border.border-colored li.border-colored--active, .tabs-border.border-colored li:hover {
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#79ccff), to(#9b74ff));
    background-image: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(left, #79ccff, #9b74ff);
    background-image: -o-linear-gradient(#fff, #fff), -o-linear-gradient(left, #79ccff, #9b74ff);
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #79ccff, #9b74ff); }
    .tabs-border.border-colored li.border-colored--active::before, .tabs-border.border-colored li:hover::before {
      background: -webkit-linear-gradient(left, #79ccff 0%, #9b74ff 100%); }

.tabs-border.background-colored li {
  background: #f1f6f9; }
  .tabs-border.background-colored li::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #dae2e7;
    position: absolute;
    top: 26px;
    left: 30px; }
  .tabs-border.background-colored li.background-colored--active, .tabs-border.background-colored li:hover {
    color: white;
    background: -webkit-linear-gradient(left, #79ccff 0%, #9b74ff 100%); }
    .tabs-border.background-colored li.background-colored--active::before, .tabs-border.background-colored li:hover::before {
      background: white; }

@media (max-width: 600px) {
  .tabs-nav--horizontal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .width--one-third {
    width: 100% !important; }
  .article-and-image img {
    display: none; } }

@media (max-width: 900px) {
  .width--one-third {
    width: 100% !important; }
  .article-and-image img {
    display: none; } }

.margin--top-50 {
  margin-top: 50px !important; }

.margin--top-20 {
  margin-top: 20px !important; }

.margin--top-30 {
  margin-top: 30px; }

.margin--top-100 {
  margin-top: 100px !important; }

.margin--bottom-50 {
  margin-bottom: 50px; }

.margin--bottom-20 {
  margin-bottom: 20px; }

.margin--bottom-100 {
  margin-bottom: 100px; }

.padding--all-25 {
  padding: 25px; }

.padding--left-25 {
  padding-left: 25px; }

.padding--right-25 {
  padding-right: 25px; }

.padding--top-50 {
  padding-top: 50px; }

.padding--top-20 {
  padding-top: 20px; }

.padding--top-100 {
  padding-top: 100px; }

.padding--top-200 {
  padding-top: 200px; }

.padding--bottom-50 {
  padding-bottom: 50px; }

.padding--bottom-20 {
  padding-bottom: 20px; }

.padding--bottom-100 {
  padding-bottom: 100px; }

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto 0 auto; }

.center-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.width--five {
  width: 5%; }

.width--one-quarter {
  width: 25%; }

.width--one-third {
  width: 33%; }

.width--half {
  width: 50%; }

.width--three-quarter {
  width: 75%; }

.width--full {
  width: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block
.min-height--500 {
  min-height: 500px; }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .display-flex--bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.normal.shadow, .normal:hover {
  -moz-box-shadow: 0px 34px 57px -8px #687171;
  -webkit-box-shadow: 0px 34px 57px -8px #687171;
  box-shadow: 0px 34px 57px -8px #687171; }

.parent {
  display: relative; }

.button-border button {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .button-border button img {
    width: 5%;
    margin-left: 10px;
    margin-top: 0px; }

.button-border.soft-rounded button {
  border-radius: 20px; }

.button-border.rounded button {
  border-radius: 50px; }

.button-border.shadow button {
  -moz-box-shadow: 0px 17px 15px 2px #dedede;
  -webkit-box-shadow: 0px 17px 15px 2px #dedede;
  box-shadow: 0px 17px 15px 2px #dedede; }

.button-border.colored-border button {
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#79ccff), to(#9b74ff));
  background-image: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(left, #79ccff, #9b74ff);
  background-image: -o-linear-gradient(#fff, #fff), -o-linear-gradient(left, #79ccff, #9b74ff);
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #79ccff, #9b74ff);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #252525; }

@media (max-width: 900px) {
  .button-border button {
    width: 100%; } }
