$logoWidth: 500px; // on aurait pu mettre la variable dans le fichier variables mais comme ca concerne que le FICHER Header on l'a mis ici

header {
    //$logoWidth: 500px; ON AURAIT AUSSSI PU LA METTRE ICI ET ON L'AURAIT QUE UTILISER DANS LA PARTIE HEADER
    @include borderSide($secondary,left, 18px);
    .logo {
        width: $logoWidth;
        height: 150;
        background:$primary;
        @include abs (50px, null, null, 150px);
        color: rgba(#fafafa, 0.4);
    }
    nav {
        width: calc(100%-#{$logoWidth});

        text : {
            transform: uppercase;
            align:center;
            decoration: underline;
        } 

        ul {
            display: flex;
            align-items: center;
            li {
                background: pink;
                transition: 5s;


                &.active {
                    background: blue;
                }

                & + li {
                    margin-left:5px;
                }
            }

            &:hover {
                li {
                    opacity: 0.5;
                
                &:hover{
                    opacity:1;
                }
            }
            }
        }
    }
}

@include placeholder (){
    color:$primary;
    font-size: 14px;
}
