@mixin font_OpenSans ($font-size, $font-weight, $color) {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin font_OpenSansCondensed ($font-size, $font-weight, $color) {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}